<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title> Lyric Generator </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" Type="text/css" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="row g-2">
        <div class="col-12">
          <div class="p-3 title border-0 bg-transparent text-center">
            <h1> Lyric Generator </h1>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 border-0">
            <h2> Complete the Lyrics </h2>

            <h4> First Line: </h4>
            <form action="/generate" method="POST">
              <input type="text" name="line"></input><br>
              <input type="submit" value="Generate" class="button-2" role="button" style="margin-top:10px;"></input>
            </form>

            <p> {{newText}} </p>

            <h5> Settings: </h5>
            <form action="/settings" method="POST">
              <div class="container">
                <div class="row g-2">
                  <div class="col-6">
                    <label><span class="label"> Lines Generated: </span></label><br>
                    <input type="number" name="lines" value={{dLines}} min="1" max="100"></input><br>
                  </div>

                  <div class="col-6">
                    <label><span class="label"> Similarity to Existing Songs: </span></label><br>
                    <input type="number" name="similarity" value={{dSim}} min="1" max="10"></input><br>
                  </div>
                </div>

                <div class="row g-2">
                  <div class="col-12">
                    <input type="submit" value="Set" class="button-2" role="button" style="margin-top:10px;"></input>
                  </div>
                </div>

              </div>

            </form>

          </div>
        </div>
        <div class="col-6">
          <div class="p-3 border-0">
            <h2> Mixer </h2>

            <form action="/generate" method="POST">
              <label><span class="label"> First Song </span></label><br>
              <input type="text" name="line"></input><br>
              <input type="submit" value="Generate!" class="button-2" role="button" style="margin-top:10px;"></input>
            </form>

            <form action="/generate" method="POST">
              <label><span class="label"> Second Song </span></label><br>
              <input type="text" name="line"></input><br>
              <input type="submit" value="Generate!" class="button-2" role="button" style="margin-top:10px;"></input>
            </form>

          </div>
        </div>
      </div>
    </div>

    <form method="POST">
      <button class="p-1 mb-3 rounded-3"formaction="/home">Return Home</button>
    </form>

  </body>

</html>
